.navbar {
  font-size: 20px;
  font-weight: 300;
  font-family: Arial;
  background-color: #f5f5f5;
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  overflow: hidden !important;
  z-index: 6;
}
.navbar-brand {
  font-size: 32px !important;
  font-weight: 300;
  font-family: Arial;
}

#navbarSupportedContent {
  right: 0 !important;
}

.profile .ant-descriptions-item-content {
  font-size: 18px !important;
}
.profile .ant-descriptions-item-label {
  font-size: 18px !important;
}

.color {
  background-color: #343a40;
  color: #fff;
  padding-left: 0px !important;
}

* {
  font-family: "Livvic", sans-serif;
}

.content {
  margin-top: 70px;
  height: 100% !important;
}

.ant-dropdown-link {
  color: #fff !important;
}

.dropdown-list {
  font-size: 16px;
}

#container {
  min-height: 100%;
  position: relative;
}

.search {
  font-size: 14px !important;
}
html {
  scroll-behavior: smooth;
}

#footer {
  float: bottom !important;
}

.fmiddle {
  font-size: 16px !important;
}
.bmi {
  font-size: 24px !important;
}

.ck.ck-icon.ck-button__icon .editor {
  font-size: 12px !important;
}
.ck.ck-toolbar {
  height: 40%;
}
.button1 {
  margin: 0 auto;
}

.margin-2 {
  margin-bottom: 3%;
}
.mod {
  font-size: 12px !important;
}
* {
  font-size: 18px;
}
.ck-editor__editable_inline {
  min-height: 300px;
  max-height: 300px;
}

.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}

/* @media screen and (max-width: 991px) {
  .icon-nav{
    opacity: 0;
  }
}
.icon-nav{
    opacity: 0;
  } */
.navbar .ax {
  padding-left: 2%;
  color: white !important;
}
.navbar .ax:hover {
  background-color: #484e54 !important;
}

.nav-item {
  margin-bottom: 2%;
}
