.breadcrumb-item {
  padding-left: 5px;
}
* {
  font-size: 18px;
}
.modal-upload {
  color: black;
}

.breadcrumb-item {
  font-size: 13px;
}
.button-group {
  width: 100%;
  display: block;
  background-color: #364d79 !important;
  font-weight: bold !important;
  font-size: 19px !important;
  border-color: #182236 !important;
}
.button-group:hover {
  background-color: #5882d6 !important;
}
.add-post {
  display: block !important;
}
.ant-carousel .slick-slide {
  text-align: center;
  background: #262626;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: black;
}
.post {
  margin: 1rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.content-box {
  border-top-color: rgb(236, 236, 236);
  border-top-width: 1px;
  border-style: solid none none none;
}
.post-h:hover {
  text-decoration: none !important;
  background-color: whitesmoke;
}
.caption {
  font-size: 27px !important;
  font-weight: 900;
}
.caption:hover {
  background-color: whitesmoke;
}
.underline:hover {
  text-decoration: underline;
}

.global-search-wrapper {
  padding-right: 50px;
}

.global-search {
  margin-left: -150px;
  width: 100%;
}

.global-search.ant-select-auto-complete .ant-select-selection--single {
  margin-right: -46px;
}

.global-search.ant-select-auto-complete
  .ant-input-affix-wrapper
  .ant-input:not(:last-child) {
  padding-right: 62px;
}

.global-search.ant-select-auto-complete
  .ant-input-affix-wrapper
  .ant-input-suffix
  button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.global-search-item {
  display: flex;
}

.global-search-item-desc {
  flex: auto;
  text-overflow: ellipsis;
  overflow: hidden;
}

.global-search-item-count {
  flex: none;
}

.border-bl {
  border-color: #262626;
}

