.center {
  display: block;
  margin: 0 auto;
}
.border {
  border-width: 1px;
  border-style: solid;
}
.button-group {
  text-align: left !important;
  font-family: "Roboto Mono", monospace;
}

.bg-content {
  background-color: #ededed;
}
.ant-card-cover {
  padding-top: 19.5px;
}

.ant-row {
  display: block;
}
.border-comment {
  border-width: 1px;
  border-style: dotted none none none;
}
